#nav-1{
    opacity: 0.25; 
    filter:(opacity=50);
}
#image{
    background-image: url("assets\main.jpg"); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 1200px;
}
