body,html{
    height: 100%;
}

.navbar{
    height: 50px;
}

.row{
    height: 100%;
}
#about{
    background-color: seagreen;
}

#education{
    background-color:forestgreen;
}

#career{
    background-color: yellowgreen;
}

#contact{
    background-color: blueviolet;
}
