body,html{
    width: 100%;
    height: 100%;
    font-family: 'Advent Pro', sans-serif;
    overflow: hidden;
    font-size: 18px;
    /*font-size: 1.5vw;
    font-size: 1.5vh;*/
    
}

#loading{
    height: 100%;
    margin: auto;
    text-align: center;
    background-image: url('assets/loading.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color: #cacaca;
}
#nav{
    position: fixed;
    z-index: 10;
}
#bars{
    padding: 10px 10px 10px 10px;
}
#head{
    display: none;
}
#content{
    height: 100%;
    display: none;
}

.row{
    height: 100%;
}

#home{
    content: "";
    position: absolute;
    z-index: 2;
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    padding-top: 10%;
    padding-left: 1%;
}

#slides {
    overflow: hidden;
     position: absolute;
     z-index: 1;
     height: 100%;
     width: 100%;
     /*padding-top: 50px;
    /* width: 100%;*/
   }

.typo{
    color: rgb(31, 31, 31);
}



#about{
    box-sizing: border-box;
    width: 100%;
  height: 100%;
  font-family: 'Advent Pro', sans-serif;
  background-color: #cacaca;
  color: rgb(31, 31, 31);
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"frac" 1, "lnum" 1;
          font-feature-settings: "kern" 1,"liga" 1,"frac" 1, "lnum" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5vh 5%;
  }
  
  .panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 90%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  
  .panel__content-col {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  
  .panel__content {
    position: absolute;
    top: 26%;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  
  .panel__text {
    display: inline-block;
    text-align: left;
  }
  
  .panel__img-col {
    padding-left: 1%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    box-shadow: 0px 20px 100.28px 8.72px rgba(0, 0, 0, 0.171);
    background-color: rgb(190, 190, 190);
  }
  
  .panel__title {
    margin: 0;
  }
  
  .panel__addr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /*.panel__addr span {
    display: block;
    margin: 9px 14px 0 0;
    height: 1px;
    width: 30px;
    background-color: #fff;
  }
  */
  
  .panel__img-col {
    width: 100%;
  }
  
  .panel__img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
    
#slideshow > div { 
  position: absolute; 
}
  
#slideshow { 
  position: relative;
}

#contact{
    background-color: blueviolet;
    padding-top: 50px;
}

.write{
    color: rgb(31, 31, 31);

}

#scrollicon{
    height: 0%;
    margin-top: 36%;
    margin-left: 45%;
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 0%;
}





svg path,
svg polyline {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  stroke-linecap: round;
}
path {
  opacity: 0;
  -webkit-animation: stroke .9s .35s forwards;
          animation: stroke .9s .35s forwards;
  -webkit-animation-timing-function: cubic-bezier(1, 0.1, 0.8, 1);
          animation-timing-function: cubic-bezier(1, 0.1, 0.8, 1);
}
svg {
  margin: 5em;
}
@-webkit-keyframes stroke {
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
@keyframes stroke {
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

polyline {
  opacity: 0;
  -webkit-animation: arrows .7s infinite, arrow_intro 2.25s forwards;
          animation: arrows .7s infinite, arrow_intro 2.25s forwards;
}
polyline + polyline {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}
@-webkit-keyframes arrow_intro {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow_intro {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes arrows {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}
@keyframes arrows {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}